PORT=3000
NODE_ENV=production
PLATFORM_MODE=managed
APP_NAME=vlyv
PLATFORM_ADMIN_EMAILS=admin@vlyv.dev
PLATFORM_APPS_DOMAIN=apps.vlyv.dev
PLATFORM_URL=https://vlyv.dev
BETTER_AUTH_URL=https://vlyv.dev
PLATFORM_DEFAULT_MEMORY_LIMIT_BYTES=536870912
PLATFORM_DEFAULT_MEMORY_RESERVATION_BYTES=134217728
PLATFORM_DEFAULT_CPU_LIMIT_NANO=1000000000
PLATFORM_DEFAULT_CPU_RESERVATION_NANO=250000000
PLATFORM_MAX_MEMORY_LIMIT_BYTES=2147483648
PLATFORM_MAX_CPU_LIMIT_NANO=2000000000
PLATFORM_MAX_FILE_MOUNT_BYTES=1048576